.dashboard {
  padding-top: 70px;
}

.navbar-inverse {
  .navbar-brand {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;

    span {
      color: #30a5ff
    }
  }

  .navbar-nav>li>a {
    color: #ffffff;
  }

  .navbar-right a:hover {
    color: #ccc !important;
  }
}